#payment > button {
   width: 180px;
   height: 70px;
}

#menuItems > button {
   width: 180px;
   height: 70px;
}

#menuItems {
   display: flex;
   flex-wrap: wrap;
   margin-left: 60px;
}

#menuCategory > button {
   width: 100px;
   height: 40px;
}

/* 카테고리 색깔 */
.alcol{background-color: #E8F0F7;}
.pasta{background-color: #F0DBA3;}
.bread{background-color: #FFBF00}
.coffee{background-color: #C46210;}

#payment > button {
   float: right;
   margin: 30px 20px 30px 10px;
   font-size: 20px;
   background-color: salmon;
}

#menuCategory > button,#menuItems > button {
   margin: 10px 30px 10px 30px;
   font-size: 20px;
   color: black;
   border-radius: 40px;
}

#menuCategory {
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
   margin-bottom: 20px;
}

#payment>button:hover,
#menuCategory>button:hover,
#menuItems>button:hover {
   background-color: royalblue;
}

button {
   outline: 0; /* 버튼 바깥 표시 지우기 */
   border: 0;  /* 버튼 바깥 표시 지우기 */
   cursor: pointer;
}

#orderTotal > span {
   margin-top: 10px;
   flex-basis: 150px;
}

#orderTotal {
   display: flex;
   flex-direction: row-reverse;
   height: 130px;
}
#orderContent>div {
   display: flex;
   justify-content: space-around;
}
#orderContent {
   overflow: scroll;
   display: flex;
   flex-direction: column;
   height: 320px;
}

#orderTitle {
   display: flex;
   justify-content: space-around;
   margin-bottom: 10px;
}

#payment {height: 150px;}

#menu {height: 450px;}

#calculator {height: 150px;}

#order{height: 450px;}

#menuContainer {
   /* margin : top right bottom left */
   margin: 35px 30px 20px 0px;
   width: 57%;
   float : right;
}

#orderContainer {
   /* margin : top right bottom left */
   margin: 35px 0px 20px 30px;
   width: 37%;
   float : left;
}

body>div > *{border: 5px solid slategray;}

#orderContainer,#menuContainer{border: 5px solid violet;}

body {
   font-family: "Courier New", Courier, monospace;
   font-weight: bold;
   font-size: 20px;
   text-align: center;
   box-sizing : border-box;
   border: 3px solid red;
   margin: 0;
   padding: 0;
   min-height: 100vh;
}